<header>
    <div class="top-header">
        <div class="logo">
            <a href="/"><img src="/images/gm-white.png" alt="logo GiantsMarket"></a>
        </div>
        <div class="form" action="#" method="POST">
            <div class="form">
                <input type="text" placeholder="Buscar en Giants Market">
            </div>
        </div>
        <a href="/productCart"><i class="fas fa-shopping-cart fa-2x"></i></a>

    </div>
    <nav>
        <ul>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Gift cards</a></li>
            <li><a href="/create">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/register">Crea tu cuenta</a></li>
            <li><a href="/login">Ingresa</a></li>

        </ul>
    </nav>
</header>